<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>sample1</string>
	<string>sample2</string>
	<string>sample3</string>
	<string>sample4</string>
	<string>sample5</string>
</array>
</plist>
